Lightweight OCSP Support

**Is your feature request related to a problem? Please describe.**

Many network devices, such as switches and routers, use the lightweight OCSP profile ([RFC 5019](https://datatracker.ietf.org/doc/html/rfc5019)) for certificate revocation checks. Although the OpenBao PKI engine supports most of this profile, it is currently unable to handle unencrypted (non-TLS) HTTP requests, which is a requirement defined in [RFC 5019, Section 5](https://datatracker.ietf.org/doc/html/rfc5019).

To fully support RFC 5019 OCSP clients, the OpenBao secrets engine must be able to handle select non-TLS HTTP requests. This currently requires configuring a full unencrypted TCP listener, which would expose all other paths on that listener.


**Describe the solution you'd like**


For lightweight OCSP support, add the ability for the /ocsp PKI engine path to listen on a non-tls secured encrypted listener to handle plaintext http requests.

This can be achieved with the following:


1) Add a public_routes option to listener option

This configures a listener to be able to handle public routes. Only requests that are for paths that are marked as public paths will be accepted

The following is an example of a listener configuration that is configured to handle public routes


```hcl

listener "tcp" {
 address = "0.0.0.0:8280"
 tls_disable = true

 public_routes = true
}

```


2)  Add a ocsp_rf5019_mode to the pki engine crl configuration

This configuration exposes the OCSP path of the target PKI engine as a public route. This allows the OCSP path to handle requests originating from a non-TLS secured listener configured for public routes.

This can be configured with a command similar to the following:

```
 vault write pki/config/crl ocsp_rfc5019_mode=true
```




**Describe alternatives you've considered**

Alternatively, hosting a plaintext HTTP proxy in front of an Openbao instance is an option. However, this increases operational complexity as it necessitates configuring and managing an additional service.

**Explain any additional use-cases**

Support certificate lifecycle management for a broad range of network and IOT devices that only support lightweight OCSP checks.


I have working code which I will link as a PR shortly

Would the go HTTP server support having those public routes also be available unencrypted on the same port as encrypted traffic? I guess the `Client sent an HTTP request to an HTTPS server.` is also coming from OpenBao's HTTP server.

I did an initial investigation, but I think it would make sense to use a separate listener to handle unencrypted requests to minimize the possibility of a client accidentally sending sensitive data over an unencrypted connection.

Here's a PR for a related RFC https://github.com/openbao/openbao/pull/2911

@boumba100 do you have use cases where CRLs are not sufficient? OCSP guarantees freshness, but also has downsides compared to CRLs regarding performance or privacy. For example, see: https://letsencrypt.org/2025/08/06/ocsp-service-has-reached-end-of-life

hey @klaus-sap 

The article you linked makes a lot of sense for preserving privacy on public networks. However, the use-case for lightweight OCSP is more geared towards enterprise networks where privacy is not the primary concern, but real-time revocation checks are necessary or required.

I should mention that while OCSP over TLS is generally the recommended approach, lightweight OCSP may be necessary for environments with constrained devices, such as certain switches and routers, that only support the latter.


Hi @boumba100, do such devices support CRLs, too? With OCSP over HTTP, each response must be signed, which may lead to a significant load on OpenBao (in https://letsencrypt.org/2025/08/06/ocsp-service-has-reached-end-of-life they mention many thousands requests per second, but ok: for a large CA). If the devices could buffer CRLs, they would only need to ask for fresh CRLs when checking a certificate

@klaus-sap I think this highlights the gap between public/web PKI and private PKI. Let's Encrypt reflects the state of WebPKI, though with things like Merkle Tree Certificates (proposal in https://datatracker.ietf.org/doc/draft-davidben-tls-merkle-tree-certs/), both CRLs and OCSP will.

CRLs have alternative load characteristics than OCSP (notably the Raft storage backend has a 512kb maximum page size, which effectively limits the maximum number of actively revoked certificates to something like 20k iirc)... both I think are a trade-off, though in the past I recommended OCSP over CRLs at Hashi (as horizontal scalability was easier than understanding more deeply the raft performance tradeoffs of raising the maximum page size globally). I understand certain private PKI users have multi-gigabyte CRLs; many clients only need to check a subset of these and so OCSP may be preferential in this case.

An alternative not really explored here are things like CRL->OCSP serving, I think there's a third-party server for that.

On the whole though, serving AIA over HTTP is generally (sadly) the recommended approach in many RFCs. This has historically (as of a few years ago when I last went looking) lead client libraries which support AIA reading (namely, NSS from Mozilla) to not support HTTPS for AIA fetching. 🤷 

@cipherboy Not sure if there is an active OpenSource project for CRL->OCSP serving, but we should definitively explore that approach. It would keep OpenBao simple (no need to open an HTTP port) and robust (no risk of overloading OpenBao because of too many OCSP requests). Might it be possible to implement Lightweight OCSP as OpenBao plugin?

In order to implement something like this as an OpenBao plugin, the plugin would need to bypass the standard OpenBao API and expose its own port, right? Is that possible and intended within OpenBao plugins? 

@klaus-sap OpenBao already has OCSP support, this just allows its use via HTTP without accessing any other paths.

@fjak144 To be clear, I was talking about a third-party external service for CRL to OCSP translation, not a plugin. 

Something like https://github.com/icedevml/crl2ocsp

The hard part is that this requires access to the CA key material. 🤔 Not impossible, but requires planning.

